[Unit]
Description=Jupyter notebook
After=network.target

[Service]
ExecStart=/miniconda/bin/jupyter lab
KillMode=process
RestartSec=42s
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target